{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
    Administrace
{% endblock title %}

{# Page description #}
{% block description %}Administrace stránky{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <div id="administration">
        <h2>Administrace stránky</h2>
        <div class="main-container">

            <div class="box">
                <h3>Oddíly</h3>
                <div class="other-buttons">
                    <a class="btn btn-success" href="{{ pageName }}/addDivision" role="button"><i class='bx bx-plus-circle'></i> Přidat nový oddíl</a>
                </div>
                <table class="table table-striped" id="divisionTable">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">Akce</th>
                        <th scope="col">Jméno oddílu</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for division in divisions %}
                        <tr>
                            <th class="text-center align-middle" scope="row">{{ loop.index }}</th>
                            <td class="text-center action-buttons">
                                <a class="btn btn-danger confirmation" title="Odstranit oddíl"
                                   alertMess="Opravdu chcete odstranit oddíl: {{ division.nameDivision }}?"
                                   alertYes="Ano, odstranit"
                                   alertNo="Zrušit"
                                   href="/{{ pageName }}?action=deleteDivision({{ division.id }})" role="button"><i class='bx bx-trash'></i></a>
                                <a class="btn btn-primary" title="Upravit oddíl" href="/{{ pageName }}?action=redirectToEditDivision({{ division.id }})" role="button"><i class='bx bx-pencil'></i></a>
                            </td>
                            <td class="align-middle">{{ division.nameDivision }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="box">
                <h3>Uživatelé</h3>
                <div class="other-buttons">
                    <a class="btn btn-success" href="{{ pageName }}/addUser" role="button"><i class='bx bx-plus-circle'></i> Přidat nového uživatele</a>
                </div>
                <table class="table table-striped" id="userTable">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">Akce</th>
                        <th scope="col">Login</th>
                        <th scope="col">Celé jméno</th>
                        <th scope="col">Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <th class="text-center align-middle" scope="row">{{ loop.index }}</th>
                            <td class="text-center action-buttons">
                                <a class="btn btn-danger confirmation {% if user.id == userID %} disabled {% endif %}" title="Odstranit uživatele"
                                   alertMess="Opravdu chcete odstranit uživatele: {{ user.username }}?"
                                   alertYes="Ano, odstranit"
                                   alertNo="Zrušit"
                                   href="/{{ pageName }}?action=deleteUser({{ user.id }})" role="button"><i class='bx bx-trash'></i></a>
                                <a class="btn btn-primary" title="Upravit uživatele" href="/{{ pageName }}npo" role="button"><i class='bx bx-pencil'></i></a>
                                {% if user.cashier == 0 %}
                                    <a class="btn btn-secondary" title="Pověřit pokladníkem" href="/{{ pageName }}?action=entrustCashier({{ user.id }})" role="button"><i class='bx bx-badge-check'></i></a>
                                {% else %}
                                    <a class="btn btn-warning" title="Zrušit pověření pokladníka" href="/{{ pageName }}?action=disableCashier({{ user.id }})" role="button"><i class='bx bx-badge-check'></i></a>
                                {% endif %}
                            </td>
                            <td class="align-middle">{{ user.username }}</td>
                            <td class="align-middle">{{ user.name }} {{ user.surname }}</td>
                            <td class="align-middle">{{ user.roleText }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="box">
                <h3>Pokuty</h3>
                <div class="other-buttons">
                    <a class="btn btn-success" href="{{ pageName }}/addFine" role="button"><i class='bx bx-plus-circle'></i> Přidat nový typ pokuty</a>
                </div>
                <table class="table table-striped" id="finesTable">
                    <thead>
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th class="text-center" scope="col">Akce</th>
                        <th scope="col">Název</th>
                        <th scope="col">Pokuta</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fine in typeFines %}
                        <tr>
                            <th class="text-center align-middle" scope="row">{{ loop.index }}</th>
                            <td class="text-center action-buttons">
                                <a class="btn btn-danger confirmation" title="Odstranit typ pokuty"
                                   alertMess="Opravdu chcete odstranit pokutu: {{ fine.nameFine }}?"
                                   alertYes="Ano, odstranit"
                                   alertNo="Zrušit"
                                   href="/{{ pageName }}?action=deleteFineType({{ fine.id }})" role="button"><i class='bx bx-trash'></i></a>
                                <a class="btn btn-primary" title="Upravit typ pokuty" href="/{{ pageName }}?action=redirectToEdit({{ user.id }})" role="button"><i class='bx bx-pencil'></i></a>
                            </td>
                            <td class="align-middle">{{ fine.nameFine }}</td>
                            <td class="align-middle">{{ fine.money }}Kč</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


        </div>

    </div>
{% endblock content%}

{% block scripts %}
    <script>
        $('.confirmation').on('click', function (e) {
            e.preventDefault();

            var href = $(this).attr('href');
            var alertMess = $(this).attr('alertMess');
            var alertYes = $(this).attr('alertYes');
            var alertNo = $(this).attr('alertNo');

            return bootbox.confirm({
                message: alertMess,
                buttons: {
                    confirm: {
                        label: alertYes,
                        className: 'btn-outline-danger'
                    },
                    cancel: {
                        label: alertNo,
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result) {
                        window.location = href
                    }
                }
            });
        });

        $(document).ready( function () {
            $('#userTable').DataTable({
                responsive: false,
            });
            $('#divisionTable').DataTable({
                responsive: false
            });
            $('#finesTable').DataTable({
                responsive: false
            });
        } );
    </script>
{% endblock scripts%}