{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
    Administrace - přidat oddíl
{% endblock title %}

{# Page description #}
{% block description %}Přidat nový oddíl{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <div id="divisions">
        <h2>Přidat oddíl</h2>
        <form method="post" action="/{{ pageName }}?form=addNewDivision">
            <div class="form-group">
                <label for="divisionName">Jméno oddílu</label>
                <input type="text" class="form-control form-control-lg" name="divisionName" id="divisionName" placeholder="Jméno oddílu" required>
            </div>
            <div class="form-group">
                <label for="divisionName">Vedoucí oddílu</label>
                <select name="selectedChief" id="test" class="selectpicker form-control" required
                        title="Vyberte uživatele"
                        data-live-search="true">
                        {% for user in users %}
                            <option value="{{ user.id }}" data-subtext="{{ user.email }}">{{ user.name }} {{ user.surname }}</option>
                        {% endfor %}
                </select>
            </div>
            <button type="submit" name="submitAddDivisionForm" class="btn btn-primary">Přidat oddíl</button>
        </form>
    </div>
{% endblock content%}

{% block scripts %}

{% endblock scripts%}