{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
    Administrace - upravit oddíl {{ editDivision.nameDivision }}
{% endblock title %}

{# Page description #}
{% block description %}Upravit oddíl: {{ editDivision.nameDivision }}{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <div id="administration">
        <h2>Upravit oddíl: {{ editDivision.nameDivision }}</h2>
        <form method="post" action="/{{ pageName }}?form=editDivision">
            <div class="form-group">
                <label for="divisionName">Jméno oddílu</label>
                <input value="{{ editDivision.nameDivision }}" type="text" class="form-control form-control-lg" name="divisionName" id="divisionName" placeholder="Jméno oddílu" required>
            </div>
            <div class="form-group">
                <label for="divisionName">Vedoucí oddílu</label>
                <select name="selectedChief" id="test" class="selectpicker form-control" required
                        title="Vyberte uživatele"
                        data-live-search="true">
                    {% for user in users %}
                        <option value="{{ user.id }}" data-subtext="{{ user.email }}" {% if editDivision.chiefUserId == user.id %} selected {% endif %}>{{ user.name }} {{ user.surname }}</option>
                    {% endfor %}
                </select>
            </div>
            <input value="{{ editDivision.id }}" type="hidden" name="divisionId">
            <button type="submit" name="submitEditDivisionForm" class="btn btn-primary">Upravit oddíl</button>
        </form>
    </div>
{% endblock content%}

{% block scripts %}

{% endblock scripts%}