{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
    Oddíly
{% endblock title %}

{# Page description #}
{% block description %}Stránka s oddíly{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <div id="divisions">
        <h2>Oddíly</h2>
        <div class="other-buttons">
            <a class="btn btn-success" href="divisions/add" role="button"><i class='bx bx-plus-circle'></i> Přidat nový oddíl</a>
        </div>

        {{ flash|raw }}

        <span class="drag-info">posouvejte doleva <i class='bx bx-arrow-from-left'></i></span>
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" scope="col">Akce</th>
                    <th scope="col">Jméno oddílu</th>
                    <th scope="col">Vedoucí</th>
                    <th scope="col">Kontakt</th>
                </tr>
                </thead>
                <tbody>
                {% for division in divisions %}
                <tr {% if division.id == userDivision %} class="table-success" {% endif %}>
                    <th class="text-center align-middle" scope="row">{{ loop.index }}</th>
                    <td class="text-center">
                        {% if userDivision is not null %}
                            {% if division.id == userDivision %}
                                <a class="btn btn-danger" href="divisions?action=unLikeDivision()" role="button"><i class='bx bx-dislike'></i></a>
                            {% else %}
                                <a class="btn btn-warning disabled" href="#" role="button" style="cursor: not-allowed !important;" ><i class='bx bxs-star'></i></a>
                            {% endif %}
                        {% else %}
                            <a class="btn btn-warning" href="divisions?action=likeDivision({{ division.id }})" role="button"> <i class='bx bxs-star'></i></a>
                        {% endif %}
                    </td>
                    <td class="align-middle">{{ division.nameDivision }}</td>
                    <td class="align-middle">{{ division.chief }}</td>
                    <td class="align-middle">{{ division.contact }}</td>

                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock content%}

{% block scripts %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock scripts%}