{% extends 'rozlozeni.html.twig' %}

{# Page title #}
{% block title %}
Hlavní stránka
{% endblock title %}

{# Page description #}
{% block description %}Hlavní stránka aplikace e-club{% endblock description %}

{# Page keywords #}
{% block keywords %}{% endblock keywords %}

{% block content %}
    <div id="homepage">
        <h2>Ahoj
            <span id="name"></span>!
        </h2>
        <div class="content">
        <div id="calendar">
            {% if userDivision is not null %}
            <div id="calendar-esports">
                <div class="header-month">
                    <div class="arrow-circle arrow-prev">
                        <i class=" arrow left"></i>
                    </div>
                    <p></p>
                    <div class="arrow-circle arrow-next">
                        <i class=" arrow right"></i>
                    </div>
                </div>
                <div id="calendar-content"></div>
            </div>
            <div class="matches">
                <h5>Nejbližší zápasy</h5>
                {% for match in unplayedMatches|slice(0, 3) %}
                <div class="match" onclick="window.location.href='my-matches?highlight={{ match.id }}'">
                    <div class="date">{{ match.date|date("d.m.") }}</div>
                    <div class="info">
                        <p><span>{{ match.homeTeamName }}</span>vs<span>{{ match.awayTeamName }}</span></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mx-auto">
                <a href="my-matches" class="btn btn-primary" type="button">Další zápasy</a>
            </div>
            {% else %}
                <div class="no-division">
                    <i class='bx bx-info-circle'></i>
                    <h5>Nepřiřadil jste se k žádnýmu oddílu</h5>
                    <p>Oddíl si vyberete na stránce oddíly</p>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a href="divisions?a=testse&b=dsfsdf" class="btn btn-primary" type="button">Oddíly</a>
                    </div>
                </div>
            {% endif %}
        </div>



        <div id="dept">
            <h5>Momentálně dlužím: </h5>
            <p class="{% if dept > 20 %}text-danger{% elseif dept != 0 %}text-warning{% else %}text-success{% endif %}">{{ dept }}Kč</p>
            <div class="mx-auto">
                <a href="my-fines" class="btn btn-secondary" type="button">Mé všechny pokuty</a>
            </div>
        </div>
        </div>
    </div>
{% endblock content%}

{% block scripts %}
    <script src="/js/osloveni.js"></script>
    <script src="/js/Calendar.js"></script>
    <script>

        // 2d pole s daty, ktere se maji ukazat v kalendari.
        // Na prvnim indexu se zadava den, kde se ma akce v kalendari zobrazit ve formatu: "rok-mesic-den"
        // Na druhem indexu je zbarveni polozky v kalendar
        // Pote je dalsi prvek pole vypsan jako jedna akce a prvek za ni je kam smeruje odkaz po kliknuti na akci v kalendari
        // např. "Akce 1", "https://www.google.cz",
        // Pokud bude jen nazev akce, ale bude chybet odkaz, potom když se klikne na akci v kalendari, tak se nic nestane
        var events = [
            {% for match in unplayedMatches %}
                [new Date("{{ match.date|date("Y-m-d") }}"), "{{mainColor}}",
                    "{{ match.homeTeamName }} vs {{ match.awayTeamName }}", "my-matches?highlight={{ match.id }}",
                ],
            {% endfor %}

            {% for match in playedMatches %}
            [new Date("{{ match.date|date("Y-m-d") }}"), "#494949ba",
                "{{ match.homeTeamName }} vs {{ match.awayTeamName }}", "my-matches?highlight={{ match.id }}",
            ],
            {% endfor %}
        ];

        // Iniciace kalendare, nasledna metoda print() vypise kalendar do divu s id indentifikatorem "calendar-content"
        var calendar = new Calendar(events);
        calendar.print();

        // Element, ktery ma indentifikator "arrow-next" prepina kalendar dopredu
        $(".arrow-next").click(function (e) {
            calendar.nextMonth();
        });

        // Element, ktery ma indentifikator "arrow-prev" prepina kalendar dozadu
        $(".arrow-prev").click(function (e) {
            calendar.prevMonth();
        });

        // Funkce, ktera zajisti zobrazeni spravneho divu s informacema o eventu, na ktery na jedete mysi
        function showEventDiv(id) {
            $(".eventId" + id).show("fast");
        }

        // Funkce, ktera zajisti skryti spravneho divu s informacema o eventu kdyz odjedete mysi z dne
        function hideEventDiv(id) {
            $(".eventId" + id).hide("fast");
        }

    </script>
    <script>
        $("#name").text(osloveni("{{ name }}"));
    </script>
{% endblock scripts%}